<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-faiz-molpay" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FaizMolpay</name>
    <js-module name="FaizMolpay" src="www/FaizMolpay.js">
        <clobbers target="cordova.plugins.FaizMolpay" />
    </js-module>
</plugin>